

<article class="questions">
	<form action="/cosmic_questions" method="post">
		<section class="question">
			<p class="title">Did they meet a member of the COSMIC Team?</p>
			<input type="radio" name="yes_no" value="yes">Yes</input>
			<input type="radio" name="yes_no" value="no">No</input>
		</section>
		<input type="submit" value="Next"/>
	
	</form>

	
	
</article>
