<h2>Cosmic Questions</h2>

<article class="questions">
	<form action="/<%= @patient_id %>/cosmic_questions" method="post">
		
		<section class="question">
			<% @questions.each do |question| %>
			<%= question.title %>

			<input type="radio" name="yes_no_<%= question.id %>" value="yes">Yes</input>
			<input type="radio" name="yes_no_<%= question.id %>" value="no">No</input>
			<% end %>
			
		</section>

		<input type="submit" value="Next"/>
	
	</form>

	

	
	
</article>
