<script src='/javascript/feelings.js'></script>

<h2>Please drag the statements into a box that described how you felt:</h2>

<article class="questions_feelings">
	<form action="/<%= @patient_id %>/feelings" method="post">

		<section id="ratings">
			<ul>
				<li class="rating" id="happy">
					<span>Happy</span>
					<ul ondrop="drop(event)" ondragover="allowDrop(event)">
					</ul>
				</li>
				<li class="rating" id="mellow">
					<span>Don't Know</span>
					<ul ondrop="drop(event)" ondragover="allowDrop(event)">
					</ul>
				</li>
				<li class="rating" id="unhappy">
					<span>Unhappy</span>
					<ul ondrop="drop(event)" ondragover="allowDrop(event)">
					</ul>
				</li>
			</ul>
		</section>
		
		<section class="statements">
			<% @statements.each do |statement| %>
			<section class="statement">
				<span id="statement<%=statement.id%>" class="statement" draggable="true" ondragstart="drag(event)"><%= statement.title %></span>
			</section>
			<% end %>

		</section>

		<div class="stop"><input type="submit" value="Next"/></div>
	
	</form>

	

	
	
</article>
