<h1>Welcome to the St Mary's Feedback Site!</h1>
<h2>We're so happy you want to fill out our form.</h2>
<p>Please click on the button below to fill in your details:</p>

<div id="sign-in"><a href="/patient_details">Your Details</a></div>