<html>
    <head>
    </head>
    <body>
        <h1>Details</h1>
        <form method="post" action="/patient_details">
            <label id="name-label" for="name">Please enter your name:</label>
            <input id="name" name="name" type="text"/>
            <br />
            <input id="submit-button" type="submit"/>
        </form>
    </body>
</html>