.ratings{
	position:fixed;
	/*margin-left: 30%;*/
}

.rating{
	height: 50%;
	background-color: pink;
	color: white;
	display: inline-block;
	width: 20%;
	margin: 1em 1.5em;
	/*position:fixed;*/
	float: left;
	



}

.rating ul {
	height: 80%;
}

.statements{
	clear: both;
}

.statement{
	float:left;
	padding: 0.1em;
	margin: 0.1em;
	border-radius: 10;
	background-color: white;
	color: black;
}

.stop{
	clear: both;
}